---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  {% assign component = site.data.taptc  | where:"id", page.component | first %}

  <h2>Profile for {{ component.name }}</h2>

  <dl>
      <dt>Name</dt><dd>{{ component.productname }}</dd>
      <dt>Vendor</dt><dd>{{ component.vendor }}</dd>
      <dt>Source</dt><dd><a href="{{ component.source }}" >{{ component.source }}</a></dd>
      <dt>Description</dt><dd>{{ component.description }}</dd>
      <dt>Version active with cprima.net</dt><dd>{{ component.version }}</dd>
  </dl>
  <!-- /building-blocks /settings /kb ##Installation ##Dependencies ##Updates -->
  <hr />

{% unless page.content == '' %}
  <div class="post-content">
    {{ content }}
  </div>
{% endunless %}

{% if page.checklists.size > 0 %}
{% assign checklistnames = page.checklists | join: "" %}
{% include checklist.html checklistnames=checklistnames %}
{% endif %}


<!--<h2>posts</h2>-->

{% for post in site.posts %}
{% if post.component == page.component %}
  <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
  <p>{{ post.abstract }} </p>
{% endif %}
{% endfor %}

</article>